@font-face {
 font-family: mini-story;
 font-style: normal;
 font-weight: normal;
 src: url("../../../static/fonts/MiniStory.ttf")
}

@font-face {
 font-family: ambang;
 font-style: normal;
 font-weight: normal;
 src: url("../../../static/fonts/aAmbangResesi.ttf")
}

.event-card  {
 font-family: mini-story  ;
}

.event-card h1 {
 margin: 5px 0px 0px 0px;

}

.event-card p  {
 font-family: mini-story  ;
 font-weight: 600;
 margin: 10px;
 max-width: 227px;
}

.event-details p {
 font-family: ambang;
 font-weight: 600 ;
 margin-left: 0;
    margin-right: 0;

}

.event-details {
 margin-top: 5px;
 line-height: 0.3125rem;
 color: #3a3a3a;
}

.details {
 position: relative;
 opacity: 0.9;

}

.details p {
 margin: 0px 0px 5px;
}

