.event-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 9.0625rem;
  
  align-items: center;
  background-color: #F3CA4A;
  position: relative;
  font-size: initial;
  transition: linear .3s;
  transform: translate(0, 0rem);
  margin-bottom: 0.9375rem;
  border-radius: 2.1875rem;
  max-width: 450px;
}

.event-card:hover {
  box-shadow: 0 0 0.1875rem gray;
  transform: translate(0rem, 0rem);
  transition: linear .3s;
}

.day-container {
  position: absolute;
  left: 0;
  top: 0;
}

.day-container h2 {
  z-index: 1;
  position: absolute;
  font-size: small;
    width: 5rem;
    top: 0.75rem;
    text-align: center;
}

.day-container img {
  width: 7.375rem;
  position: absolute;
  top: -2.1875rem;
  left: -1.25rem;
  z-index: 0;
  filter: drop-shadow(0.125rem 0.125rem 0.125rem gray);
}

.heading-container {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-container h1 {
  margin: 0.625rem;
}

.heading-container p {
  margin: 0;
 
}

.main-content {
  width: 50%;
    min-width: 11.5625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    position: relative;
    min-width: 192px;
    
}

.main-content img {
  width: 93px;
  position: absolute;
  bottom: 0;
}

.main-content p {
  font-size: small;
}

.link-location {
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.event-details a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.event-details p {

  margin-bottom: 0;
}

.likes {
  position: absolute;
  bottom: 0;
  right: 0;
}

.likes img {
  position: absolute;
    right: 0.3125rem;
    width: 1.875rem;
    bottom: 0;
    cursor: pointer;
}

.likes img:active {
  transform: scale(1.1);
}



.btn-container {
  position: absolute;
  right: 0.3125rem;
  top: 0.3125rem;
  
}

.btn-container a {
  background-color: #296EB1;
}

.btn-container a:hover {
  background-color: #135597;
}

.edit-btn {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #ffffff;
  padding: 0.0625rem 0.3125rem;
  border-radius: 1.875rem;
  font-size: medium;
  color: #000000;
  background-size: 100% 100%;
  text-decoration: none;
  box-shadow: 0.0625rem 0.0625rem 0.1875rem grey;
  transition: .2s;
}

.edit-btn:active {
  box-shadow: 0rem 0rem 0.0625rem;
  transition: .2s;
}
