
.event-main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  /* max-width: 600px; */
  /* min-width: 500px; */
  margin: auto;
  font-size: large;
  color: black;
  align-items: center;
}


.event-card {
  display: flex;
  flex-direction: column;
  width: 37.5rem;
  height: 17.625rem;
  background-size: cover;
  align-items: center;
  position: relative;
  transition: .2s;
  transform: translate(0, 0rem);
  margin-bottom: 0.9375rem;
  border-radius: 2.1875rem;
  padding: 0px 10px;
  border-radius: 50px;
  background: #e0e0e0;
    background-repeat: repeat;
    background-image: none;
    background-size: auto;
  box-shadow: -20px -20px 60px #bebebe, 20px 20px 60px #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  
}

.event-card:hover {
  transform: translate(0rem, 0rem);
  transition: .2s;
}

.day-container {
  position: absolute;
  left: 0;
  top: 0;
}

.day-container h2 {
  z-index: 1;
  position: absolute;
  font-size: 23px;
  top: -0.5625rem;
  left: 0.75rem;
  white-space: pre-wrap;
  text-align: center;
  line-height: 1;
}

.day-container img {
  width: 7.375rem;
  position: absolute;
  top: -2.1875rem;
  left: -1.25rem;
  z-index: 0;
  filter: drop-shadow(0.125rem 0.125rem 0.125rem gray);
}

.heading-container {
  display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
}

.heading-container h1 {
  margin: 0.625rem;
}

.heading-container p {
  margin: 0;
 
}

.main-content {
  width: 50%;
  min-width: 11.5625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  position: relative;
  min-width: 192px;
  align-items: center;
    
}

.main-content img {
  width: 93px;
  position: absolute;
  bottom: 0;
}


.link-location {
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.event-details a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}



.likes {
  position: absolute;
  bottom: 0;
  right: 0;
}

.likes img {
  position: absolute;
    right: 0.3125rem;
    width: 1.875rem;
    bottom: 0;
    cursor: pointer;
}

.likes img:active {
  transform: scale(1.1);
}



.btn-container {
  position: absolute;
  right: 0.3125rem;
  top: 0.3125rem;
  
}

.btn-container a {
  background-color: #296EB1;
}

.btn-container a:hover {
  background-color: #135597;
}

.edit-btn {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #ffffff;
  padding: 0.0625rem 0.3125rem;
  border-radius: 1.875rem;
  font-size: medium;
  color: #000000;
  background-size: 100% 100%;
  text-decoration: none;
  box-shadow: 0.0625rem 0.0625rem 0.1875rem grey;
  transition: .2s;
}

.edit-btn:active {
  box-shadow: 0rem 0rem 0.0625rem;
  transition: .2s;
}


.placeholder {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}