.App {
  min-height: 100vh;
  display: flex;
  width: 42.125rem; 
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* font-size: calc(10px + 2vmin);
  color: white; */
  position: relative;
  color: gray;
  margin: auto;
}

.App a {
  color: #61dafb;
}




.MuiDialog-paper {
  /* background-image: url('./static/images/logInModal.png');
  background-size: 103%;
  width: 451px;
  border-radius: 35px !important;
  color: black !important;
  background-position-y: center;
  background-repeat: no-repeat; */
  background-color: #f5ffdb !important;
}


html {
  width: max-content;
      margin: auto;
    background-color: #f2f2f2;
}