.logIn-btn {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 margin: 20px;
}

.signUp-container p {
 color: black;
}

.signUp-container {
 position: absolute;
 left: 0px;
 top: -62px;
}

.dialog-container {

 background-image: url('../../static/images/logInModal.png');
 background-size: cover;
 background-position-y: 31%;
 background-repeat: no-repeat;
}

.dialog-main{
 border-radius: 20px;
}