.logIn-btn {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 margin: 20px;
 position: relative;
 z-index: 1;
}

.signUp-container p {
 color: black;
}

.signUp-container {
 position: absolute;
 left: 0px;
 top: -62px;
}

.dialog-container {

 background-image: url('../../static/images/logInModal.png');
 background-size: cover;
 background-position-y: 31%;
 background-repeat: no-repeat;
}

.dialog-main{
 border-radius: 20px;
}

.name-input{
 background-color: rgb(30 30 30 / 49%)
}


#name-label {
 color: rgb(134, 152, 212);
}

.MuiFilledInput-root::after{
 border-bottom-color: rgb(255, 255, 255) !important;

}

input:-internal-autofill-selected {
 background-color: red;
}